QPushButton{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    height: 18px;
    padding: 5px;
    margin: 2px 6px;
}


QPushButton:hover{
    border: 1px solid black;
    background: rgba(123, 123, 123, 0.1);
}

QPushButton:pressed{
    border: 1px solid black;
    background: rgba(123, 123, 123, 0.8);
}

QLabel{
    font-size: 18px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

QLabel#cameraStatusLabel{
    font-size: 16px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

QSpinBox{
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}

QLineEdit{
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}

QWidget#MenuMain{
    border: 1px solid grey;
}

QWidget#PatientMenu{
    border: 1px solid grey;
}

